$ppr-blue:  #005295;
$ppr-gold: #DEB408;

header.site-header { 
  background-color:  $ppr-blue ;
}

.site-branding {
  background: $ppr-blue !important;
  color:  $ppr-gold !important;
}

.site-footer {
  background: $ppr-blue !important;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}