header.site-header { 
  background-color:  #005295 ;
}

header.site-header a:hover {
  opacity: 1 !important;
}

.page-title-container:hover {
  opacity: 1 !important;
}

h1.page-title:hover {
  color:  #DEB408 !important;
  opacity: 1 !important;
}

h2.page-subtitle:hover {
  color:  #DEB408 !important;
  opacity: 1 !important;
}

.site-branding {
  background: #005295 !important;
  /* color:  !important; */
}

.site-footer {
  background: #005295 !important;
  color: white !important;
  position: fixed;
  bottom: 0; 
  width: 100%;
  /* max-height: 20px; */
}